
/*winery*/
#wineTitle{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568170/wineVessels_g38bgs.jpg);
}
.wine .img{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568156/slide4_mkr2ec.jpg);
}
/* vineyard */
#vineyardTitle{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568173/Vineyards_hfdpzt.jpg);
}

/* article */
#articleTitle{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568156/slide6_jxirmp.jpg);
}
/*tour*/
#tourTitle{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568180/label4_wcb6xh.jpg);
}
.tour .img{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568175/label2_g5igns.jpg);
}
/* sold in */
#soldTitle{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568176/label3_omfudu.jpg);
}
/*contact*/
#contactTitle{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568168/destination_yxtita.jpg);
}
#winebottle{
	background-image: url(https://res.cloudinary.com/dc4ci2dzs/image/upload/v1751568175/label2_g5igns.jpg);
}

#map{
	height: 500px;
	width: 100%;
}
.col-wrapper .contact{
	min-height: none;
}
.col-wrapper ul{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.col-wrapper li{
	margin-top: 10px;
	padding: 20px 40px;
	border: 1px solid black;
}
.list-flex{
	display: flex;
	justify-content: center;
}

/*****
big title
*****/
.bigTitle{
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.bt-overlay{
	min-height: 20vh;
	padding: 40px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background-color: rgba(0,0,0,0.5);
}
.bigTitle h1{
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	color: white;
}
/*****
text
*****/
.par-normal{
	font-size: 14px;
}
/*****
two columns slider
*****/

.img{
	order: 1;
}

@media(min-width: 992px){
	.img{
		display: block;
	}
}